.jetlinks-edit-table-body-viewport {
  max-height: 100%;
  width: 100%;
  overflow: hidden auto;
  position: relative;

  .jetlinks-edit-scrollbar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .jetlinks-edit-table-body-container {
    overflow: hidden;
    height: 100%;
  }

  .jetlinks-edit-table-center {
    position: relative;
    flex: 1 1 auto;
    min-width: 0;
    height: 100%;

    .jetlinks-edit-table-row {
      width: 100%;
      display: flex;
      align-items: center;
      transition: top .2s, height .2s, background-color .1s;
      border-bottom: 1px solid #ebebeb;
      .jetlinks-edit-table-cell{
        position:absolute;
        min-width: 0;;
      }

      &:hover {
        background-color: rgb(248, 248, 248);
      }

      &.jetlinks-edit-table-row-selected {
        background-color: var(--ant-primary-1);
      }

      .body-cell-box {
        padding: 0 12px;
        position: relative;
      }
    }

    .readonly-mask {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 4;
    }
  }
}
.jetlinks-edit-table-body-empty {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 24px;
}
