.jetlinks-table-form-error-target {
  position: absolute;
  right: 2px;
  top: -9px;
  border: 16px solid transparent;
  border-top-color: @error-color;
  border-right-width: 0;
  border-bottom-width: 0;
}

.jetlinks-edit-table-form-has-error {

  .select-no-value {
    .ant-select-selector {
      border-color: @error-color !important;
      &:focus {
        box-shadow: 0 0 0 2px var(--ant-error-color-outline) !important;
      }
    }
  }

  > input {
    border-color: @error-color !important;

    &:focus {
      box-shadow: 0 0 0 2px var(--ant-error-color-outline) !important;
    }
  }

  .jetlinks-table-form-required-aicon {
    color: @error-color;
  }
}
