.jetlinks-table-group-warp {
  .ant-tabs-nav {
    margin-bottom: 0;
    .ant-tabs-tab {
      overflow: hidden;
      position: relative;
    }
    .ant-tabs-tab-active {
      background-color: #BAE0FF !important;
      border-color: #91CAFF !important;

    }

    .ant-tabs-nav-add {
      border: none;
    }
  }
}

.jetlinks-table-group-error-warp {
  color: #1a1a1a !important;

  .table-group-error-target {
    position: absolute;
    right: 0;
    top: 0;
    border: 16px solid transparent;
    border-top-color: @error-color;
    border-right-width: 0;
    border-bottom-width: 0;
  }
}
