.jetlinks-edit-table-wrapper {
  background: #fff;
  height: 100%;
  position: relative;

  &.table-full-screen {
    padding: 24px;
  }

  .jetlinks-edit-table {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    background: #fafafa;
    transition: background-color .3s ease;

    .jetlinks-edit-table-header {
      overflow: hidden;
      width: 100%;
    }

    .jetlinks-edit-table-body {
      background-color: #fff;
      overflow-y: hidden;
      position: relative;
      height: 100%;
      width: 100%;
      flex: 1 1 auto;
      flex-direction: row;
    }
  }
}
