@import '../../style/variable.less';

.j-card-select {
  display: grid;
  gap: 12px;

  .j-card-select-item {
    padding: 12px;
    border: 1px solid #e6e6e6;
    border-radius: @border-radius-base;
    cursor: pointer;

    &.active {
      border-color: @primary-color;
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.75;
    }

    .j-card-select-describe {
      color: @text-color-subtitle;
    }
  }
}
